body, html {
    min-width: 400px;
    margin: 0;
    padding: 0;
}
.bg_player, .bg_player_mask, body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
div {
    display: block;
    margin: 0;
    padding: 0;
    unicode-bidi: isolate;
}
.bg_player_mask {
    background-color: rgba(0, 0, 0, 0.35); /* 半透明黑色遮罩层 */
    z-index: 2;
}
.bg_player {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: blur(65px);
    opacity: .6;
    transform: translateZ(0);
    background-image: url("https://img.alicdn.com/imgextra/i3/O1CN01HKF8IE21NglxmBjwj_!!6000000006973-2-tps-456-502.png");
}
.bg_player, .bg_player_mask {
    position: absolute;
    top: 0;
    left: 0;
}
.mod_player {
    height: 100vh;
    margin: 0 7%;
    position: relative;
    z-index: 3;
}
.player_bd, .player_ft {
    position: absolute;
    width: 100%;
}
.player_bd {
    top: 11%;
    bottom: 18%;
    min-height: 328px;
    justify-content: center;
    cursor: default;
}
.player_ft {
    bottom: 0;
    left: 0;
    height: 13%;
    min-height: 180px;
}
.player_ft_top {
    /* position: relative; */
    width: 100%;
    height: 20px;
    line-height: 20px;
    /* text-align: center; */
}
.player_ft_bottom {
    margin-top: 20px;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}
.player_lyrics {
    text-align: center;
}
.album-cover {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}
.album-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.player_music_container {
    text-align: center;
}
.player_music_name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
.player_music_artist {
    font-size: 16px;
    color: #131212;
}
.btn_like {
    position: absolute;
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
    font-size: 14px;
    transition: color 0.3s;
    padding: 0;
    align-items: center;
    height: 20px;
    line-height: 20px;
    padding-top: 2px;
}

.btn_like:hover {
    color: white;
}
.player_music_info {
    margin-left: 20px;
    font-size: 14px;
    width: 150px;
    justify-self: left;
    color: #ccc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.player_music_time {
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
}
.player_progress {
    padding-top: 6px;
    height: 8px;
    cursor: pointer;
}
.player_progress_inner {
    position: relative;
    height: 2px;
    border-radius: 5px;
    background: hsla(0, 0%, 100%, .1);
}
.player_progress_load, .player_progress_play {
    width: 0%;
    margin-left: 0px;
}
/* .player_progress_load {
    
} */
.player_progress_play {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    border-radius: 5px;
    background: hsla(0, 0%, 100%, .7);
}
.player_progress_dot{
    position: absolute;
    top: -9px;      /* (8px-2px)/2; */
    right: -3px;    /* 6px/2; */
    font-size: 6px;
    color: hsla(0, 0%, 100%, .7);
}
.player_ft_bottom button {
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
    font-size: 30px;
    align-items: center;
    margin: 0 10px;
    transition: color 0.3s;
}

.player_ft_bottom button:hover {
    color: white;
}
.player_center_buttons {
    display: flex;
    justify-content: center; /* 居中prev, play, next按钮 */
    flex-grow: 1; 
}
.player_voice {
    display: flex;
    min-width: 62px;
}
.player_voice_bar {
    position: relative;
    top: 14px;      
    left: -12px; 
    min-width: 60px;
    height: 8px;
    cursor: pointer;
}
.player_voice_inner {
    position: absolute;
    top: 3px;      
    width: 60px;
    height: 2px;
    border-radius: 5px;
    background: hsla(0, 0%, 100%, .2);
}
.player_voice_play {
    position: absolute;
    height: 2px;
    border-radius: 5px;
    background: hsla(0, 0%, 100%, .7);
}
.player_voice_dot{
    position: absolute;
    top: -3px;      
    right: -3px;    
    font-size: 6px;
    color: hsla(0, 0%, 100%, .7);
}
.player_music_lyrics {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    height: 200px; /* 设置一个固定高度 */
    overflow-y: auto; /* 允许垂直滚动 */
    position: relative; /* 为相对定位 */
    
}
/* 隐藏滚动条 */
.player_music_lyrics::-webkit-scrollbar {
    display: none; /* 对于基于WebKit的浏览器（如Chrome和Safari）隐藏滚动条 */
}

/* 对于Firefox，可以使用以下样式来隐藏滚动条 */
.player_music_lyrics {
    scrollbar-width: none; /* Firefox */
}

/* 对于IE和Edge，可以使用以下样式来隐藏滚动条 */
.player_music_lyrics {
    -ms-overflow-style: none; /* IE和Edge */
}
.lyric-line {
    margin: 5px 0;
    opacity: 0.5;
}
.current {
    font-weight: bold;
    opacity: 1;
}
.player_list {
    position: relative;
    padding: 15px;
    border-radius: 10px;
    overflow-y: auto; /* 如果内容超出高度，允许滚动 */
    z-index: 3; /* 确保播放列表在其他内容之上 */
    filter: blur(0px);
    opacity: .6;
    /* transform: translateZ(0); */
    color: #fff;
    /* font-weight: bold; */
}
.play_list_bd {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 4;
}

.play_list_bd li {
    padding: 10px;
    font-family: Arial, sans-serif;
}
.play_list_bd li:last-child {
    border-bottom: none; /* 最后一个项目不显示底边框 */
}
.play_list_bd li:hover {
    background-color: rgba(0, 0, 0, 0.1); /* 鼠标悬停时轻微变色 */
    cursor: pointer;
}

.highlight {
    background-color: rgba(0, 0, 0, 0.1); 
    /* font-weight: bold; */
}
.active {
    font-size: larger;
    font-weight: bold;
}